.navbar__link {
    display: none;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(17/14*100%);
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity 0.5s ease-in;
}
.navbar__link:hover {
    opacity: 0.6;
}

@media screen and (min-width: 768px) {
    .navbar__link {
        display: block;
        margin-left: 24px;
        font-size: 18px;
        line-height: calc(22/18*100%);
    }
}
